[Desktop Entry]
Version=1.0
Name=Kodi
Comment=Configure Kodi
Exec=/mnt/files/linux/kodi/kodi_config.sh
Icon=kodi
Terminal=true
Type=Application
Categories=Utility;Application;
Name[en_US]=kodi
Path=
StartupNotify=false
